body {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito';
  background: #fbdfe9;
}

*,
html {
  scroll-behavior: smooth;
}

#upper {
  width: 100%;
  margin-top: -17px;
  background: #B400FF;
}

#logo {
  width: 80px;
  height: 55%;
  border-radius: 50px;
  background: #E4A0FF;
  text-align: center;
  transform: translateY(25%);
}

#logo>p {
  font-family: 'Rouge Script';
  font-weight: 600;
  font-size: 18px;
  transform: translateY(6px);
  color: white;
}

#upper-row {
  width: 74%;
  height: 100%;
  background: transparent;
  position: absolute;
  padding-top: 8px;
  padding-right: -25px;
  top: -3px;
  right: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0px;
}

#upper-row>span {
  color: white;
  font-size: 18px;
  transition: .4s;
}

#upper-row>span:hover {
  opacity: 0.5;
}


.content {
  width: 220px;
  height: 250px;
  position: absolute;
  left: 20px;
  top: 30px;
  color: #7100A1;
  background: white;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 16px;
  overflow-y: scroll;
  opacity: 0;
  font-family: 'Nunito';
}

#card1 {
  position: fixed;
  transition: all 0.3s ease 0s;
  width: 61.2%;
  height: 10%;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
  border-radius: 2px 2px 0px 0px;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
}


#card1>p {
  transform: translateY(-3px);
  text-align: center;
  transition: all 0.3s ease 0s;
  color: white;
}


.content>pre {
  margin-inline: 2px;
  font-size: 13px;
  font-family: 'Nunito';
}

#main {
  width: 100%;
  position: fixed;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'System UI';
}

#main>input[type='text'],
input[type='password'],
textarea,
input[type='number'] {
  user-select: none;
}

#low {
  width: 100%;
  background: linear-gradient(to right, #B400FF, #D161FF);
  display: none;
  position: fixed;
  overflow-y: hidden;
}

#low>.slider {
  width: 350%;
  height: 100%;
  overflow-x: scroll;
}


.template {
  width: 110px;
  height: 45%;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  padding-inline: 5px;
}

.template>img {
  text-align: center;
  width: 100%;
  height: 150%;
  border-radius: 5px;
}

.template>span {
  font-size: 10px;
  color: white;
}

#template-holder {
  display: none;
}

#template-trigger {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: black;
  opacity: 0.4;
  text-align: center;
  padding: 2px 2px;
  position: fixed;
}

#template-trigger>i {
  color: white;
  font-size: 20px;
  transform: translateY(65%);
}

#lower {
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow-x: scroll;
}

#lower>div>span {
  margin-right: 32px;
  margin-top: 6.5px;
  color: #B400FF;
  font-size: 20px;
  font-weight: 900;
}


#lower>div {
  width: 450%;
  overflow-x: scroll;
  padding-inline: 5px;
}



#style1 {
  background: #fbdfe9;
  padding-block: 10px;
  position: absolute;
  text-align: center;
  display: none;
  width: 100%;
  height: auto;
  background: #fbdfe9;
  position: absolute;
  bottom: 0px;
  overflow-y: scroll;
  font-family: 'Nunito';
  border-radius: 10px 10px 0px 0px;
}

#style1>#inn {
  width: 80%;
  height: 35%;
  border-radius: 2px;
  background: #EAD0DB;
  outline: #EAD0DB;
  border: 1px solid #EAD0DB;
  transition: .2s;
}

#style1>h2 {
  margin-top: -3px;
  color: #B400FF;
}

#style1>textarea {
  width: 80%;
  height: 45% !important;
  border-radius: 2px;
  background: #EAD0DB;
  outline: #EAD0DB;
  border: 1px solid #EAD0DB;
  transition: .2s;
  font-family: 'Nunito';
}

#style1>textarea:focus {
  border: 2px solid #c6c6c6;
}

#style1>button {
  width: 80%;
  height: 40%;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 15px;
  background: linear-gradient(to right, #B400FF, #D161FF);
  color: #fbdfe9;
  border: none;
  font-family: 'Nunito';
}



#style1>h3 {
  color: #B400FF;
  text-align: center;
}

#style1>span {
  text-align: left;
  color: #B400FF;
  margin-left: 5px;
}

#style1>input[type="range"] {
  -webkit-appearance: none;
  width: 230px;
  height: 7px;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

#style1>input[type="range"]::-webkit-slider-thumb,
-moz-range-thumb,
-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #B400FF;
  cursor: ew-resize;
  border: 1px solid #B400FF;
  box-shadow: 0 0 2px 0 #555;
}

#style1>input[type=range]::-webkit-slider-runnable-track,
-moz-range-track,
-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#style1>i {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-inline: 10px;
  color: #B400FF;
  font-size: 35px;
}

#style1>.check {
  position: absolute;
  top: -15px;
  right: -5px;
}


#warning {
  text-align: center;
  transform: translate(13%, 15px);
  transition: all 0.3s ease 0s;
  opacity: 1;
  width: 80%;
  height: 160px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 16px;
  background: white;
  display: none;
  font-family: 'Nunito';
}

.card {
  text-align: center;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 20%;
  border-radius: 2px 2px 0px 0px;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
}

#warning>h3 {
  text-align: center;
  transform: translate(0px, 15px);
  transition: all 0.3s ease 0s;
  color: rgb(129, 132, 137);
  font-size: 17px;
}

.card>p {
  text-align: center;
  transform: translate(-90px, 6px);
  transition: all 0.3s ease 0s;
  color: white;
}

.card>i {
  text-align: center;
  transform: translate(130px, -33px);
  transition: all 0.3s ease 0s;
  color: white;
}

#warning>button {
  text-align: center;
  transform: translate(5px, 18px);
  transition: all 0.3s ease 0s;
  height: 35px;
  border: 1px solid white;
  font-weight: 639;
  border-radius: 2px;
  color: white;
  background: linear-gradient(to right, #B400FF, #D161FF);
  width: 55%;
  font-family: 'Nunito';
}

.ell0 {
  text-align: center;
  transform: translate(23%, -10px);
  transition: all 0.3s ease 0s;
  opacity: 1;
  width: 70%;
  height: 300px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 16px;
  border-radius: 5px;
  display: none;
  font-family: 'Nunito';
}

.ell1 {
  text-align: center;
  transform: translate(65px, 5px);
  transition: all 0.5s ease 0s;
  width: 50px;
  height: 50px;
  background: rgb(180, 0, 255);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 16px;
}

.ell4 {
  transform: translateY(12px);
  font-weight: 433;
  font-size: 30px;
  color: white;
  transition: all 0.3s ease 0s;
}

#copy {
  background: white;
  color: #B400FF;
  width: 23px;
  padding: 2px;
  height: 17px;
  position: absolute;
  border-radius: 2px;
  transform: translate(85px, -247px);
}

.ell2 {
  text-align: center;
  transform: translate(130px, -45px);
  transition: all 0.5s ease 0s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 16px;
}

.ell5 {
  font-size: 30px;
  color: rgb(180, 0, 255);
  transform: translateY(12px);
  transition: all 0.3s ease 0s;
}

.ell3 {
  text-align: center;
  transform: translate(7px, -45px);
  transition: all 0.3s ease 0s;
  width: 94%;
  height: 70%;
  text-align: center;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
  border-radius: 5px;
  padding-top: 0px;
  overflow-y: scroll;
}

.ell6 {
  text-align: center;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 622;
  font-size: 13px;
  font-family: 'Nunito';
}

#hideCode {
  color: red;
  transform: translate(105px, -95px);
  font-weight: 100;
  font-size: 22px;
}

.shifter {
  width: auto;
  height: auto;
  transform: translateY(15px);
}

.cp {
  width: auto;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 60px;
  padding-inline: 7px;
  font-size: 14px;
  display: none;
  padding-top: 4px;
  transition: .3s;
}

.cp1 {
  width: auto;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 60px;
  font-size: 14px;
  padding-inline: 7px;
  padding-top: 4px;
  transform: translate(100px, 200px);
  display: none;
  transition: .3s;
}

#download {
  text-align: center;
  transform: translate(22%, -20px);
  transition: all 0.3s ease 0s;
  opacity: 1;
  width: 70%;
  height: 210px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
  background: white;
  position: absolute;
  display: none;
  font-family: 'Nunito';
}

#download>div {
  text-align: center;
  transform: translate(0px, -17px);
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 20%;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
  border-radius: 2px 2px 0px 0px;
}

#download>input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 400;
}

#div>.i {
  text-align: center;
  transform: translate(-70px, 11px);
  transition: all 0.3s ease 0s;
  position: absolute;
  color: white;
  font-weight: 536;
}

#div>p {
  text-align: center;
  transform: translate(10px, 10px);
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 416;
}

#download>p {
  text-align: center;
  transform: translate(-60px, -15px);
  transition: all 0.3s ease 0s;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 451;
}

#download>input {
  text-align: center;
  transform: translate(0px, -15px);
  transition: all 0.3s ease 0s;
  height: 35px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: green 2px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 445;
}

#download>input:focus {
  border: 1px solid #c6c6c6;
}

#download>button {
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 36%;
  height: 14%;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
  color: white;
  font-weight: 483;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: lightgreen 2px;
  font-family: 'Nunito';
}

#download>#c {
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(4px);
}

#download>#d {
  transform: translateX(-4px);
}

#download>i2 {
  text-align: center;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  font-weight: 508;
  font-size: 15px;
}


#upload {
  text-align: center;
  transform: translate(21%, -40px);
  transition: all 0.3s ease 0s;
  opacity: 1;
  width: 70%;
  height: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
  display: none;
}

#upload>div {
  text-align: center;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 17%;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
  border-radius: 3px 3px 0px 0px;
  padding: 7% 0px 0px;
  color: white;
}

#upload .icon {
  transform: translate(-50px, 0px);
  transition: all 0.3s ease 0s;
  text-align: left;
  color: white;
  font-weight: 900;
}

#upload h4 {
  text-align: center;
  transform: translate(10px, -42px);
  transition: all 0.3s ease 0s;
  position: relative;
  color: white;
}

#upload>input[type='file'] {
  text-align: center;
  transform: translate(0px, 10px);
  transition: all 0.3s ease 0s;
  width: 70%;
  height: 40px;
  border-radius: 3px;
  padding: 10px 3px;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 431;
  color: grey;
  border: 1px dashed rgb(180, 0, 255);
}

#upload>button {
  text-align: center;
  transform: translate(-103%, 240%);
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 70%;
  height: 35px;
  border-radius: 60px;
  border: 1px solid transparent;
  font-weight: 433;
  color: white;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
}

#upload i {
  text-align: center;
  transform: translate(3px, 0px);
  transition: all 0.3s ease 0s;
}

#template-gallery {
  position: absolute;
  width: 78%;
  height: 330px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 16px;
  background: white;
  transform: translate(14%, -10px);
  overflow-y: scroll;
  display: none;
}

#template-gallery div {
  text-align: center;
  width: 100%;
  height: 45px;
  padding-top: 20px;
  background: linear-gradient(to right, rgb(180, 0, 255), rgb(209, 97, 255));
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}

#template-gallery div>span {
  text-align: left;
  color: white;
  margin-left: -90px;
}


#template-gallery>img {
  width: 42%;
  height: 27%;
  border: 1px solid silver;
  border-radius: 5px;
}

#template-gallery i {
  position: absolute;
  margin-left: 80px;
  font-size: 17px;
  font-weight: 10;
  color: white;
}